<div class="row">
    <div class="col-md-12">
        <div class="card-header">
            Week
            <%= data.whs.week %>
        </div>
        <div class="py-3">
            <img class="team-icon" src="<%= data.team.profileImg %>" />
        </div>

    </div>

    <div class="col-md-12 text-center">

        <div class="row">
            <h1 class="team-heading col-12">
                <%= data.team.teamName %>
            </h1>

            <div class="col-12 px-3 pt-1 pb-2">
                <div class="team-info">
                    <%= data.team.leagueName %>
                </div>
            </div>
            <div class="col-12 px-3 pb-2">
                <div class="team-info">
                    <%= data.team.manager %>
                </div>
            </div>
        </div>

        <div class="mt-2 mb-3">
            <div class="team-ts">High Score</div>
            <h2 class="team-heading2">
                <%= data.whs.score %>
            </h2>
        </div>

        <div class="row">
            <div class="col-5 offset-1">
                <div>
                    W - L - T
                </div>
                <div class="ft-ysanbold">
                    <%= data.team.standing.outcome_totals.wins %> -
                    <%= data.team.standing.outcome_totals.losses %> -
                    <%= data.team.standing.outcome_totals.ties %>
                </div>
            </div>
            <div class="col-5">
                <div>W/L Ratio</div>
                <div class="ft-ysanbold">
                    <%= (data.team.standing.outcome_totals.percentage * 100).toFixed(2) %>%
                </div>
            </div>
        </div>
    </div>
</div>